{{#theAsker}}
	<div class="title">{{theAsker}} asked...</div>
{{/theAsker}}

<div class="overprint nowrap">
	<div class="question">
		<span class="question">Q:</span>
		{{ theQuestion }}
	</div>
	<p>&nbsp;</p>
	<div class="answer">
		<span class="answer">A:</span>
		{{ theAnswer }}
	</div>
</div>
