<a id="post-{{id}}" target="_blank" class="brick {{type}}" href="{{url}}">
	{{! dynamic partial rendering }}
	{{#dynamicPartial}}
	    _{{type}}
	{{/dynamicPartial}}

	{{! always render overlay }}
	<div class="overlay">
	    <div class="inner">
		<div class="blogName">{{user}}</div>
	        <div class="date">{{{date.shortForm}}}</div>
	        {{#noteCount}}
	            <div class="notes">{{date.time}}</div>
	        {{/noteCount}}
	    </div>
	</div>
</a>
