<div class="brick {{type}}" id="{{id}}">
	{{! dynamic partial rendering }}
	{{#dynamicPartial}}
	    _{{type}}
	{{/dynamicPartial}}

	{{! always render overlay }}
	<div class="overlay">
		<a class="remove" href="#" data-id="{{id}}" data-key="{{key}}">X</a>
	    <a class="inner" id="post-{{id}}"
	       target="_blank" href="{{url}}">
			<div class="blogName">{{user}}</div>
	        <div class="date">{{{date.shortForm}}}</div>
	        {{#noteCount}}
	            <div class="notes">{{date.time}}</div>
	        {{/noteCount}}
	    </a>
	</div>
</div>
